@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    scrollbar-width: none;
}
@keyframes fadeSlide {
  0% { opacity: 0; }
  10% { opacity: 1; }
  30% { opacity: 1; }
  40% { opacity: 0; }
  100% { opacity: 0; }
}

.fade-image-0 {
  animation: fadeSlide 15s infinite;
}
.fade-image-1 {
  animation: fadeSlide 15s infinite 5s;
}
.fade-image-2 {
  animation: fadeSlide 15s infinite 10s;
}
